@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --color-primary: #3d55dc;
  --color-primary-dark: #2c3eb0;
  --color-primary-light: #eef1fd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
